@keyframes moveBoxUp {
    from {
        top: 325px;
        /* Starting position shifted down by one cell (30px) */
    }

    to {
        top: 55px;
        /* Ending position shifted up by one cell (30px) */
    }
}

.box {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url('./gameimg/box2.png') center/cover no-repeat;
    z-index: 1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.move-box-up-animation {
    animation-name: moveBoxUp;
}