.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.314);
    z-index: 9999;
    color: black;
    /* Ensure text color is visible */
    font-size: 16px;
    /* Adjust font size as needed */
    text-align: center;
    /* Center the text */
}

.emailForm {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

.emailForm input {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    outline: none;
    cursor: not-allowed;
}

.emailForm button {
    padding: 5px;
    font-size: 14px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.emailForm button:hover {
    background-color: #f269f2;
}

.emailForm button:disabled {
    background-color: #6f6e6e;
    cursor: not-allowed;
}

.superhero-details img {
    width: 400px;
    /* Set the desired width */
    height: 400px;
    /* Set the desired height */
}

.try-again-button {
    text-align: center;
    padding: 5px;
    /* Set padding for the button */
    font-size: 14px;
    /* Set font size for the button text */
    background-color: #3eb8e5;
    /* Set background color */
    color: white;
    /* Set text color */
    border: none;
    /* Remove border */
    border-radius: 5px;
    /* Set border radius */
    cursor: pointer;
    /* Add pointer cursor on hover */
    transition: background-color 0.2s;
    /* Add smooth background color transition */
    margin-left: 10px;
    letter-spacing: 1.5px;
}

.try-again-button:hover {
    background-color: #f269f2;
    /* Change background color on hover */
}

.dialog-box {
    /* ... other styles ... */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    width: 100%;
    /* Make sure the content container takes the full width */
    margin-bottom: 20px;
    /* Add space between content container and email form */
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button-container {
    display: flex;
    align-items: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}