.tutorial-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background: linear-gradient(to bottom, #ffb672, rgb(255, 180, 180));

    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    opacity: 0;
    /* Initially set opacity to 0 */
    transform: translate(-50%, -50%) scale(0.8);
    /* Initially scale down the component */
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Add transition for opacity and transform */
}

.tutorial-dialog.open {
    opacity: 1;
    /* When the class 'open' is applied, set opacity to 1 */
    transform: translate(-50%, -50%) scale(1);
    /* Scale up the component */
}

.tutorial-content {
    flex-grow: 1;
    overflow-y: auto;
    text-align: center;
    /* Center the content inside the tutorial */
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Styling for the buttons */
.navigation-buttons button {
    margin: 10 10px;
    /* Add space between the buttons */
    padding: 5px;
    border-radius: 5px;
}

/* Style "Prev" and "Next" buttons */
.navigation-buttons .prev-button {
    order: 1;
    margin: 5px 5px;
    background-color: #c3c3c3;
    transition: background-color 0.2s;
}

.navigation-buttons .prev-button:hover {
    background-color: #00ffe5;
}

.navigation-buttons .next-button {
    order: 3;
    margin: 5px 5px;
    background-color: #c3c3c3;
    transition: background-color 0.2s;
}

.navigation-buttons .next-button:hover {
    background-color: #00ffe5;
}

/* Style "Close" button */
.close-button {
    order: 2;
    padding: 5px;
    background-color: #c3c3c3;
    transition: background-color 0.2s;
    border-radius: 5px;
}

.close-button:hover {
    background-color: #00ffe5;
}

.tutorial-dialog.closing {
    opacity: 0;
    /* When the class 'closing' is applied, set opacity to 0 */
    transform: translate(-50%, -50%) scale(0.8);
    /* Scale down the component */
}

.tutorial-image {
    width: 80%;
    height: 80%;
    border: 2px solid hsl(0, 0, 0);
    border-radius: 10px;
}

.tutorial-button {
    padding: 5px;
    font-size: 18px;
    background-color: #00ff08;
    color: rgb(0, 0, 0);
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 5px;

    cursor: pointer;
    transition: background-color 0.2s;
}

.tutorial-button:hover {
    background-color: #00ffe5;
}