.wire {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(237, 237, 237, 0.676);
    z-index: 1;
    top: 0px;
}

/* Rest of the CSS remains unchanged */


@keyframes extendWire {
    from {
        height: 0%;
    }

    to {
        height: 75%;
    }
}

@keyframes retractWire {
    from {
        height: 75%;
    }

    to {
        height: 0%;
    }
}

.extend-animation {
    animation-name: extendWire;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.retract-animation {
    animation-name: retractWire;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}